version: "3.8"

services:
  vpn:
    build:
      context: ../vpn
    container_name: vpn-client
    devices:
      - /dev/net/tun
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - ../vpn/configs:/etc/vpn/configs:ro
      - ../vpn/auth:/etc/vpn/auth:ro
    environment:
      # Set this from the outside: e.g., VPN_CONFIG=/etc/vpn/configs/nord.ovpn
      - VPN_CONFIG=${VPN_CONFIG:-/etc/vpn/configs/default.ovpn}
      - VPN_AUTH_FILE=${VPN_AUTH_FILE:-}
    networks:
      - vpn-net

  agent:
    build:
      context: ../agent
    container_name: vpn-agent
    # This is the key line: share network with vpn service (later)
    network_mode: "service:vpn"
    depends_on:
      - vpn
    volumes:
      - ../tests:/tests:ro
      - ../results:/results
      - ../agent/visit_urls.sh:/agent/visit_urls.sh:ro
    environment:
      - OUTDIR=/results
    cap_add:
      - NET_ADMIN
      - NET_RAW
    command: ["/agent/visit_urls.sh"]

      

networks:
  vpn-net:
    driver: bridge